<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
@using Passeio.web.Enums;
@using Passeio.web.Models.ViewModels;
@model List<LocalViewModel>

@{
    ViewData["Title"] = "Lista";
}

<div class="card shadow-lg card-profile-top">
    <div class="row card-body justify-content-between">
        <h1 class="col-auto">Locais</h1>
        <a class="btn btn-lg btn-primary col-auto me-3" asp-controller="Local" asp-action="Criar">Cadastrar Local</a>
    </div>
</div>

@if (Model != null && Model.Any())
{
    foreach (var local in Model)
    {
        <div class="card mt-3">
            <div class="row card-body">
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <h5 class="text-body">Imagem</h5>
                    <img width="100" src="@local.Imagem"/>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <h5 class="text-body">Título</h5>
                    <p>@local.Titulo</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <h5 class="text-body">Descrição</h5>
                    <p>@local.Descricao</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <h5 class="text-body">Localização</h5>
                    <p>@local.Localizacao</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <h5 class="text-body">Autor</h5>
                    <p>@local.UsuarioCriador</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-12">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownOpcoes" data-bs-toggle="dropdown" aria-expanded="false">
                            opções
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownOpcoes">
                            <li><a class="dropdown-item" asp-controller="Local" asp-action="Editar" asp-route-localId="@local.Id"><i class="bi bi-pen"></i>Editar</a></li>
                            <li><a class="dropdown-item" asp-controller="Local" asp-action="Detalhes" asp-route-localId="@local.Id"><i class="bi bi-card-text"></i>Detalhes</a></li>
                            <li><a class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#ExcluirModal" style="cursor: pointer;"><i class="bi bi-trash"></i>Excluir</a></li>
                        </ul>
                    </div>
                </div>
                <partial name="_ConfirmacaoDeExclusao" view-data='@new ViewDataDictionary(ViewData) { {"localId", local.Id }, {"tituloDoLugar", local.Titulo} }' />
            </div>
        </div>
    }
}
else
{
<div class="card mt-3">
    <div class="card-body">
        <div class="alert alert-warning m-0 text-dark">
            Ainda não tem locais cadastrados.
        </div>
    </div>
</div>
}
</body>
</html>
